.CardList {
    
    /* flex: 0 1 auto; */
    text-align: center;
    grid-area: main;
    height: 1200px;
    left: 250px;
    background-color: transparent;
    width: 1500px;
    padding: 20px;
    margin: 0px;
    font-family:monospace;
    font-size: calc(6px + 1vmin);
    background-color: #1b1d20;
    box-shadow: 10px 10px rgb(71, 142, 155);
    box-sizing: border-box;
    position: absolute;
    /* background-image: url('https://i0.wp.com/images.ctfassets.net/ryplwhabvmmk/4KBUfhwrTGsF2AzVz4TjM4/9060545e850b512c668d7f093dbb0167/worlds_showcase_event_battlefield.png?ssl=1'); */
}
.Cardlist-cont {
    grid-area: main;
    position: fixed;
    height: 1200px;
    left: 270px;
    top: 100px;
    background-color: transparent;
    width: 1000px;
    padding: 20px;
    margin: 0px;
    margin-top: 10px;
    margin-left: auto;
}
.collection {
    overflow: scroll;
    text-align: center;
    grid-area: main;
    height: 1200px;
    left: -10px;
    background-color: transparent;
    width: 1000px;
    padding: 20px;
    margin: 0px;
    font-family:monospace;
    font-size: calc(6px + 1vmin);
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-row-gap: 10rem;
    grid-column-gap: .5rem;
}


h1 {
    color: rgb(219, 233, 241); 
    text-shadow: rgb(212, 234, 238) 1px 0 10px;
    
}
.card{
    display: inline-grid;
    margin: 1% auto;
    padding: 4px 0;
    border-radius: 7px;
    background: black;
    width: 350px;
    height: 500px;
    color: rgb(0, 0, 0); 
    text-shadow: rgb(212, 234, 238) 1px 0 10px;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
}

.card-inner {
    display: inline-grid;
    width: 96%;
    height: 93.5%;
    background: rgb(71, 142, 155);
    padding: .5rem 0;
    position: relative;
    margin: .3rem auto;
}

.delete-bttn {
    font-size: 1rem;
    text-align: center;
    left: 150px;
    position: absolute;
    background: #00b3e6;
}
.card-title {
    border-radius: .4rem;
    margin: 0 auto;
    padding: 0 0 0 3%;
    width: 97%;
    background: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    text-align: left;
}

.card-hp-top {
    float: right;
    margin: .1rem .3rem 0 0;
    background: #ccc;
    border-radius: 50%;
    width: 4rem;
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;   
}

.card-avatar {
    background: #333;
    width: 80%;
    height: 8rem;
    margin: 0 auto;
    cursor: pointer;
}

.card-ability {
    border-radius: .4rem;
    margin: 0 auto;
    padding: 0 .5rem;
    width: 98%;
    background: #fff;
    font-size: .7rem;
    line-height: 1.6rem;
    box-sizing: border-box;
    text-align: left;
    font-weight: bold
}

.card-description {
    background: #ccc;
    width: 94%;
    height: 20px;
    margin: 0 auto;
    font-size: .5rem;
    padding: .7rem .5rem;
    text-align: left;
    font-style: italic;
    position: relative;
    box-sizing: inherit;
}

.card-ability-strength {
    background: #fff;
    border-radius: .8rem;
    float: right;
    margin: -.8rem 1rem 0 0;
    padding: .15rem .4rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
}

.card-footer {
    padding: .5rem .7rem 0 .7rem;
  }

ul {
    list-style: none;
    justify-content: left;
}

.CollectionForm {
    text-align: center;
}

button.like-btn {
    height: 20px;
    bottom: .5px;
    left: 20px;
    position: relative;
    background-color: whitesmoke;
    border: #52cdec solid 1px;
    color: rgb(204, 242, 243);
    background-color: #50555a;
    
}