body {
  background: url('https://wallpaperaccess.com/full/2288809.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.App-Container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 120px);
  grid-template-areas: "header header header header header" 
                       "sidebar main main main main"
                       "sidebar main main main main"
                       "sidebar main main main main";
  grid-auto-flow: dense;
  grid-gap: 40px;
  height: 1500px;
  width: 100%;
}

.header-cont {
  grid-area: header;
  /* background-image: url('https://static8.depositphotos.com/1177973/814/i/600/depositphotos_8144806-stock-photo-spotlight-studio-interior-black-background.jpg'); */
  /* background-color: black; */
  min-height: 10vh;
  width: 2000px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  font-size: calc(18px + 1vmin);
  background-color: #1b1d20;
  left: 0px;
  color: rgb(158, 193, 212);
  text-shadow: rgb(71, 142, 155) 1px 0 10px;
  opacity: 0.9px;
  box-shadow: 10px 10px rgb(71, 142, 155);
}

/* .title {

} */

.header {
  left: 0px;
  width: auto;
  
}

.header img {
  height: 100px;
  width: 100px;
  top: 10px;
  left: 10px;
  position: fixed;
  
}
a {
  color: rgb(219, 233, 241); 
    text-shadow: rgb(212, 234, 238) 1px 0 10px;
}

.Sidebar {
  list-style: none;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  top: 160px;
  margin: 0px;
  grid-area: sidebar;
  background-color: #1b1d20;
  color: rgb(228, 178, 178);
  text-shadow: rgb(71, 142, 155) 1px 0 10px;
  text-align: center;
  height: 1200px;
  width: 200px;
  list-style-type: none;
  cursor: pointer;
  position: fixed;
  box-shadow: 10px 10px rgb(71, 142, 155);
  box-sizing: border-box;
}

.About-Cont {
  grid-area: main;
  box-shadow: 10px 10px rgb(143, 169, 184);
  height: 1200px;
  width: 90%;
  padding: 20px;
  margin: 0px;
  text-align: center;
  font-family:monospace;
  font-size: calc(10px + 2vmin);
  background-color: #1b1d20;
  /* background-image: url('https://cdn.wallpapersafari.com/33/15/JNXEm4.jpg'); */
  color: rgb(158, 193, 212);
  text-shadow: rgb(71, 142, 155) 1px 0 10px;
}

.about {
  grid-area: main;
  width: 75%;
  margin: 10px;
  left: 120px;
  text-align: center;
  position: relative;
}

.MainContainer {
  grid-area: main;
  width: 100%;
  height: 1500px;
  background-color: transparent
}
