.App {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 200px 1000px;
  text-align: center;
}


.Header-Container{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(103, 153, 175);
}


.Sidebar-Container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(60, 134, 168)
}

.Mainbody-Container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(57, 88, 102)
}